{"openapi":"3.1.0","info":{"title":"Dungeon Hub API","termsOfService":"https://dungeon-hub.net/terms-of-service","contact":{"name":"Dungeon Hub","url":"https://discord.dungeon-hub.net","email":"contact@dungeon-hub.net"},"version":"v1","x-logo":{"altText":"Dungeon Hub Logo","href":"#","url":"/cdn/static/favicon.gif"}},"servers":[{"url":"https://api.dungeon-hub.net/"}],"paths":{"/api/v1/server/{server}/warns/{id}/evidence":{"put":{"tags":["Warns"],"operationId":"addEvidence","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarningEvidenceCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DetailedWarningModel"}}}}}}},"/api/v1/server/{server}/ticket-panel/{ticket-panel}/ticket/{id}":{"get":{"tags":["ticket-controller"],"operationId":"getById","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ticket-panel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketModel"}}}}}},"put":{"tags":["ticket-controller"],"operationId":"updateTicket","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ticket-panel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketModel"}}}}}}},"/api/v1/server/{server}/ticket-panel/{id}":{"get":{"tags":["ticket-panel-controller"],"operationId":"getById_1","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketPanelModel"}}}}}},"put":{"tags":["ticket-panel-controller"],"operationId":"updateTicketPanel","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketPanelUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketPanelModel"}}}}}},"delete":{"tags":["ticket-panel-controller"],"operationId":"deleteById","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketPanelModel"}}}}}}},"/api/v1/server/{server}/static-message/{id}":{"get":{"tags":["static-message-controller"],"operationId":"getById_2","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaticMessageModel"}}}}}},"put":{"tags":["static-message-controller"],"operationId":"updateStaticMessage","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticMessageUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaticMessageModel"}}}}}},"delete":{"tags":["static-message-controller"],"operationId":"deleteStaticMessage","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaticMessageModel"}}}}}}},"/api/v1/server/{server}/roles/{id}":{"get":{"tags":["discord-role-controller"],"operationId":"getById_3","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordRoleModel"}}}}}},"put":{"tags":["discord-role-controller"],"operationId":"updateRole","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscordRoleUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordRoleModel"}}}}}},"delete":{"tags":["discord-role-controller"],"operationId":"deleteById_1","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordRoleModel"}}}}}}},"/api/v1/server/{server}/role-requirement/{id}":{"get":{"tags":["Role-Requirement"],"operationId":"getById_4","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleRequirementModel"}}}}}},"put":{"tags":["Role-Requirement"],"operationId":"updateRoleRequirement","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequirementUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleRequirementModel"}}}}}},"delete":{"tags":["Role-Requirement"],"operationId":"deleteById_2","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleRequirementModel"}}}}}}},"/api/v1/server/{server}/discord-user/{discord-user}/reputation/{id}":{"put":{"tags":["reputation-controller"],"operationId":"updateReputation","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"discord-user","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReputationUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReputationModel"}}}}}}},"/api/v1/server/{server}/cnt-request/{id}":{"get":{"tags":["cnt-request-controller"],"operationId":"getCntRequest","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CntRequestModel"}}}}}},"put":{"tags":["cnt-request-controller"],"operationId":"updateCntRequest","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CntRequestUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CntRequestModel"}}}}}}},"/api/v1/server/{server}/channel/{id}":{"get":{"tags":["discord-channel-controller"],"operationId":"getById_5","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordChannelModel"}}}}}},"put":{"tags":["discord-channel-controller"],"operationId":"updateChannel","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscordChannelUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordChannelModel"}}}}}},"delete":{"tags":["discord-channel-controller"],"operationId":"deleteById_3","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordChannelModel"}}}}}}},"/api/v1/server/{server}/carry-type/{id}":{"get":{"tags":["carry-type-controller"],"operationId":"getById_6","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryTypeModel"}}}}}},"put":{"tags":["carry-type-controller"],"operationId":"updateCarryType","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryTypeUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryTypeModel"}}}}}},"delete":{"tags":["carry-type-controller"],"operationId":"deleteById_4","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryTypeModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/score":{"put":{"tags":["Score"],"operationId":"updateScore","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScoreUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScoreModel"}}}}}}},"delete":{"tags":["Score"],"operationId":"resetScore","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"score-type","in":"query","required":true,"schema":{"type":"string","enum":["Default","Event","Both"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScoreResetModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/carry-tier/{id}":{"put":{"tags":["carry-tier-controller"],"operationId":"updateCarryTier","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryTierUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryTierModel"}}}}}},"delete":{"tags":["carry-tier-controller"],"operationId":"deleteCarryTier","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryTierModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/carry-tier/{carry-tier}/carry-difficulty/{id}":{"get":{"tags":["carry-difficulty-controller"],"operationId":"getCarryDifficulty","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-tier","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryDifficultyModel"}}}}}},"put":{"tags":["carry-difficulty-controller"],"operationId":"updateCarryDifficulty","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-tier","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryDifficultyUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryDifficultyModel"}}}}}},"delete":{"tags":["carry-difficulty-controller"],"operationId":"deleteCarryDifficulty","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-tier","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryDifficultyModel"}}}}}}},"/api/v1/queue/{id}":{"put":{"tags":["Carry-Queue"],"operationId":"updateQueue","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryQueueUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryQueueModel"}}}}}},"delete":{"tags":["Carry-Queue"],"operationId":"deleteQueue","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/discord-users/{id}":{"get":{"tags":["discord-user-controller"],"operationId":"getById_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordUserModel"}}}}}},"put":{"tags":["discord-user-controller"],"operationId":"updateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscordUserUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordUserModel"}}}}}}},"/api/v1/server/{server}/warns":{"post":{"tags":["Warns"],"operationId":"addWarning","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarningCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddedWarningModel"}}}}}}},"/api/v1/server/{server}/ticket-panel":{"post":{"tags":["ticket-panel-controller"],"operationId":"createNewTicketPanel","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketPanelCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketPanelModel"}}}}}}},"/api/v1/server/{server}/ticket-panel/{ticket-panel}/ticket":{"post":{"tags":["ticket-controller"],"operationId":"createNewTicket","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ticket-panel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketModel"}}}}}}},"/api/v1/server/{server}/static-message":{"post":{"tags":["static-message-controller"],"operationId":"createStaticMessage","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticMessageCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaticMessageModel"}}}}}}},"/api/v1/server/{server}/roles":{"post":{"tags":["discord-role-controller"],"operationId":"createNewRole","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscordRoleCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordRoleModel"}}}}}}},"/api/v1/server/{server}/role-requirement":{"post":{"tags":["Role-Requirement"],"operationId":"createNewRoleRequirement","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequirementCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleRequirementModel"}}}}}}},"/api/v1/server/{server}/role-group":{"post":{"tags":["discord-role-group-controller"],"operationId":"createNewRoleGroup","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscordRoleGroupCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordRoleGroupModel"}}}}}}},"/api/v1/server/{server}/discord-user/{discord-user}/reputation":{"post":{"tags":["reputation-controller"],"operationId":"addReputation","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"discord-user","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReputationCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReputationModel"}}}}}}},"/api/v1/server/{server}/cnt-request":{"post":{"tags":["cnt-request-controller"],"operationId":"createNewCntRequest","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CntRequestCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CntRequestModel"}}}}}}},"/api/v1/server/{server}/channel":{"post":{"tags":["discord-channel-controller"],"operationId":"createNewChannel","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscordChannelCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordChannelModel"}}}}}}},"/api/v1/server/{server}/carry-type":{"post":{"tags":["carry-type-controller"],"operationId":"createNewCarryType","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryTypeCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryTypeModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/carry-tier":{"post":{"tags":["carry-tier-controller"],"operationId":"createCarryTier","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryTierCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryTierModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/carry-tier/{carry-tier}/carry-difficulty":{"post":{"tags":["carry-difficulty-controller"],"operationId":"createCarryDifficulty","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-tier","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryDifficultyCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryDifficultyModel"}}}}}}},"/api/v1/queue/log/{id}":{"post":{"tags":["Carry-Queue"],"operationId":"logCarry","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryQueueUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoggedCarryModel"}}}}}}},"/api/v1/queue/carry-difficulty/{carry-difficulty}":{"post":{"tags":["Carry-Queue"],"operationId":"addNewQueue","parameters":[{"name":"carry-difficulty","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarryQueueCreationModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryQueueModel"}}}}}}},"/api/v1/discord-users":{"post":{"tags":["discord-user-controller"],"operationId":"createNewUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscordUserCreationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordUserModel"}}}}}}},"/api/v1/server/{server}":{"get":{"tags":["discord-server-controller"],"operationId":"getServerById","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordServerModel"}}}}}}},"/api/v1/server/{server}/warns/{id}":{"get":{"tags":["Warns"],"operationId":"getWarningById","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DetailedWarningModel"}}}}}},"delete":{"tags":["Warns"],"operationId":"deactivateWarning","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DetailedWarningModel"}}}}}}},"/api/v1/server/{server}/warns/all":{"get":{"tags":["Warns"],"operationId":"getAllWarningsForUser","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"user","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DetailedWarningModel"}}}}}}}},"/api/v1/server/{server}/warns/active":{"get":{"tags":["Warns"],"operationId":"getAllActiveWarningsForUser","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"user","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DetailedWarningModel"}}}}}}}},"/api/v1/server/{server}/total-money-spent":{"get":{"tags":["discord-server-controller"],"operationId":"getTotalAmountOfMoneySpentOnServices","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"user","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"carrier","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"carry-tier","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/v1/server/{server}/total-leaderboard":{"get":{"tags":["discord-server-controller"],"operationId":"getTotalLeaderboard","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"score-type","in":"query","required":false,"schema":{"type":"string","default":"DEFAULT","enum":["Default","Alltime","Event"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"user","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScoreLeaderboardModel"}}}}}}},"/api/v1/server/{server}/ticket/find":{"get":{"tags":["discord-server-controller"],"operationId":"findTickets","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"channel","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TicketModel"}}}}}}}},"/api/v1/server/{server}/ticket-panel/{ticket-panel}/ticket/all":{"get":{"tags":["ticket-controller"],"operationId":"getAllTickets","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ticket-panel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TicketModel"}}}}}}}},"/api/v1/server/{server}/ticket-panel/all":{"get":{"tags":["ticket-panel-controller"],"operationId":"getAllTicketPanels","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TicketPanelModel"}}}}}}}},"/api/v1/server/{server}/static-message/find":{"get":{"tags":["static-message-controller"],"operationId":"findStaticMessages","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"staticMessageType","in":"query","required":false,"schema":{"type":"string","enum":["ScoreLeaderboard","TotalLeaderboard","ReputationLeaderboard","TicketPanel","PriceMessage"]}},{"name":"channelId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"messageId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StaticMessageModel"}}}}}}}},"/api/v1/server/{server}/score/{id}":{"get":{"tags":["discord-server-controller"],"operationId":"getScores","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScoreModel"}}}}}}}},"/api/v1/server/{server}/roles/all":{"get":{"tags":["discord-role-controller"],"operationId":"getAllRoles","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiscordRoleModel"}}}}}}}},"/api/v1/server/{server}/role-requirement/all":{"get":{"tags":["Role-Requirement"],"operationId":"getAllRoleRequirements","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleRequirementModel"}}}}}}}},"/api/v1/server/{server}/role-group/{id}":{"get":{"tags":["discord-role-group-controller"],"operationId":"getById_8","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordRoleGroupModel"}}}}}},"delete":{"tags":["discord-role-group-controller"],"operationId":"deleteById_5","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordRoleGroupModel"}}}}}}},"/api/v1/server/{server}/role-group/all":{"get":{"tags":["discord-role-group-controller"],"operationId":"getAllRoleGroups","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiscordRoleGroupModel"}}}}}}}},"/api/v1/server/{server}/reputation/{id}":{"get":{"tags":["discord-server-controller"],"operationId":"getReputation","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReputationModel"}}}}}}},"/api/v1/server/{server}/reputation-leaderboard":{"get":{"tags":["discord-server-controller"],"operationId":"getReputationLeaderboard","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"user","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReputationLeaderboardModel"}}}}}}},"/api/v1/server/{server}/discord-user/{discord-user}/reputation/calculate":{"get":{"tags":["reputation-controller"],"operationId":"calculateReputation","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"discord-user","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/v1/server/{server}/discord-user/{discord-user}/reputation/all":{"get":{"tags":["reputation-controller"],"operationId":"getAllReputations","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"discord-user","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReputationModel"}}}}}}}},"/api/v1/server/{server}/count-carries":{"get":{"tags":["discord-server-controller"],"operationId":"countCarries","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/v1/server/{server}/cnt-request/find":{"get":{"tags":["cnt-request-controller"],"operationId":"findCntRequest","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"message-id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"user","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CntRequestModel"}}}}}}}},"/api/v1/server/{server}/cnt-request/all":{"get":{"tags":["cnt-request-controller"],"operationId":"getCntRequests","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"id,desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CntRequestPageModel"}}}}}}},"/api/v1/server/{server}/channel/all":{"get":{"tags":["discord-channel-controller"],"operationId":"getAllChannels","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"also-show-deleted","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiscordChannelModel"}}}}}}}},"/api/v1/server/{server}/category/{category}/carry-tier":{"get":{"tags":["discord-server-controller"],"operationId":"getCarryTierFromCategory","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"category","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CarryTierModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/score/{id}":{"get":{"tags":["Score"],"operationId":"getScore","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"score-type","in":"query","required":false,"schema":{"type":"string","default":"DEFAULT","enum":["Default","Alltime","Event"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScoreModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/score/total-leaderboard":{"get":{"tags":["Score"],"operationId":"getTotalLeaderboard_1","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"score-type","in":"query","required":false,"schema":{"type":"string","default":"DEFAULT","enum":["Default","Alltime","Event"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"user","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScoreLeaderboardModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/score/leaderboard":{"get":{"tags":["Score"],"operationId":"getLeaderboard","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"score-type","in":"query","required":false,"schema":{"type":"string","default":"DEFAULT","enum":["Default","Alltime","Event"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"user","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScoreLeaderboardModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/score/all":{"get":{"tags":["Score"],"operationId":"getScores_1","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScoreModel"}}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/purge-type/{id}":{"get":{"tags":["purge-type-controller"],"operationId":"getById_9","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurgeTypeModel"}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/purge-type/all":{"get":{"tags":["purge-type-controller"],"operationId":"getPurgeTypes","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PurgeTypeModel"}}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/carry-tier/{carry-tier}/carry-difficulty/all":{"get":{"tags":["carry-difficulty-controller"],"operationId":"getAllCarryDifficulties","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-tier","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarryDifficultyModel"}}}}}}}},"/api/v1/server/{server}/carry-type/{carry-type}/carry-tier/all":{"get":{"tags":["carry-tier-controller"],"operationId":"getAllCarryTiers","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"carry-type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarryTierModel"}}}}}}}},"/api/v1/server/{server}/carry-type/all":{"get":{"tags":["carry-type-controller"],"operationId":"getAllCarryTypes","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarryTypeModel"}}}}}}}},"/api/v1/server/{server}/carry-tiers":{"get":{"tags":["discord-server-controller"],"operationId":"getAllCarryTiers_1","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarryTierModel"}}}}}}}},"/api/v1/server/{server}/carry-difficulties":{"get":{"tags":["discord-server-controller"],"operationId":"getAllCarryDifficulties_1","parameters":[{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarryDifficultyModel"}}}}}}}},"/api/v1/server/static-messages":{"get":{"tags":["discord-server-controller"],"operationId":"getStaticMessages","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StaticMessageModel"}}}}}}}},"/api/v1/server/all":{"get":{"tags":["discord-server-controller"],"operationId":"getAllServers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiscordServerModel"}}}}}}}},"/api/v1/queue/all":{"get":{"tags":["Carry-Queue"],"operationId":"getCarryQueues","parameters":[{"name":"related-id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"queue-step","in":"query","required":false,"schema":{"type":"string","enum":["Confirmation","Transcript","Approving"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarryQueueModel"},"uniqueItems":true}}}}}}},"/api/v1/hello":{"get":{"tags":["dungeon-hub-rest-controller"],"operationId":"hello","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/discord-users/{id}/carries/{server}":{"get":{"tags":["discord-user-controller"],"operationId":"getCarryCount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"server","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/v1/discord-users/find":{"get":{"tags":["discord-user-controller"],"operationId":"findUser","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiscordUserModel"}}}}}}},"/api/v1/discord-users/count-linked":{"get":{"tags":["discord-user-controller"],"operationId":"countLinkedUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/v1/discord-users/all":{"get":{"tags":["discord-user-controller"],"operationId":"getAllUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiscordUserModel"}}}}}}}},"/api/v1/admin":{"get":{"tags":["dungeon-hub-rest-controller"],"operationId":"admin","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"WarningEvidenceCreationModel":{"type":"object","properties":{"evidence":{"type":"string"},"submitter":{"type":"integer","format":"int64"}}},"DetailedWarningModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"server":{"$ref":"#/components/schemas/DiscordServerModel"},"user":{"$ref":"#/components/schemas/DiscordUserModel"},"striker":{"$ref":"#/components/schemas/DiscordUserModel"},"warningType":{"type":"string","enum":["Strike","Minor","Major","Serious","Warning"]},"reason":{"type":"string"},"active":{"type":"boolean"},"time":{"type":"string","format":"date-time"},"evidences":{"type":"array","items":{"$ref":"#/components/schemas/WarningEvidenceModel"}}}},"DiscordServerModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DiscordUserModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"minecraftId":{"type":"string","format":"uuid"},"primarySkyblockProfile":{"type":"string","format":"uuid"}}},"WarningEvidenceModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"warningModel":{"$ref":"#/components/schemas/WarningModel"},"evidence":{"type":"string"},"submitter":{"$ref":"#/components/schemas/DiscordUserModel"}}},"WarningModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"server":{"$ref":"#/components/schemas/DiscordServerModel"},"user":{"$ref":"#/components/schemas/DiscordUserModel"},"striker":{"$ref":"#/components/schemas/DiscordUserModel"},"warningType":{"type":"string","enum":["Strike","Minor","Major","Serious","Warning"]},"reason":{"type":"string"},"active":{"type":"boolean"},"time":{"type":"string","format":"date-time"}}},"TicketUpdateModel":{"type":"object","properties":{"state":{"type":"string","enum":["Creating","Open","Closed","Deleted"]},"channel":{"type":"integer","format":"int64"},"claimer":{"type":"integer","format":"int64"},"resetClaimer":{"type":"boolean"}}},"CarryDifficultyModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"identifier":{"type":"string"},"displayName":{"type":"string"},"carryTier":{"$ref":"#/components/schemas/CarryTierModel"},"price":{"type":"integer","format":"int32"},"bulkPrice":{"type":"integer","format":"int32"},"bulkAmount":{"type":"integer","format":"int32"},"score":{"type":"integer","format":"int32"},"thumbnailUrl":{"type":"string"},"priceName":{"type":"string"},"carryType":{"$ref":"#/components/schemas/CarryTypeModel"}}},"CarryTierModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"identifier":{"type":"string"},"displayName":{"type":"string"},"carryType":{"$ref":"#/components/schemas/CarryTypeModel"},"descriptiveName":{"type":"string"},"category":{"type":"integer","format":"int64"},"thumbnailUrl":{"type":"string"},"priceTitle":{"type":"string"},"priceDescription":{"type":"string"}}},"CarryTypeModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"identifier":{"type":"string"},"displayName":{"type":"string"},"server":{"$ref":"#/components/schemas/DiscordServerModel"},"logChannel":{"type":"integer","format":"int64"},"eventActive":{"type":"boolean"}}},"DiscordBitSet":{"type":"object","properties":{"binary":{"type":"string"},"value":{"type":"string"},"empty":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"data$common":{"type":"array","items":{"type":"integer","format":"int64"}}}},"DiscordChannelModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"discordServer":{"$ref":"#/components/schemas/DiscordServerModel"},"deleted":{"type":"boolean"}}},"DiscordRoleModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nameSchema":{"type":"string"},"roleAction":{"type":"string","enum":["None","ApplyAndRemoveWhenVerified","ApplyAndRemoveWhenUnverified","ApplyWhenVerified","ApplyWhenUnverified","RemoveWhenVerified","RemoveWhenUnverified","ApplyAlways"]},"discordServerModel":{"$ref":"#/components/schemas/DiscordServerModel"}}},"Permission":{"type":"object","properties":{"shift":{"type":"integer","format":"int32"},"code":{"$ref":"#/components/schemas/DiscordBitSet"}}},"Permissions":{"type":"object","properties":{"code":{"$ref":"#/components/schemas/DiscordBitSet"},"values":{"type":"array","items":{"$ref":"#/components/schemas/Permission"},"uniqueItems":true}}},"TicketFormResponseModel":{"type":"object","properties":{"ordinal":{"type":"integer","format":"int32"},"customId":{"type":"string"},"value":{"type":"string"}}},"TicketModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"state":{"type":"string","enum":["Creating","Open","Closed","Deleted"]},"channel":{"$ref":"#/components/schemas/DiscordChannelModel"},"ticketPanel":{"$ref":"#/components/schemas/TicketPanelModel"},"user":{"$ref":"#/components/schemas/DiscordUserModel"},"claimer":{"$ref":"#/components/schemas/DiscordUserModel"},"created":{"type":"string","format":"date-time"},"formResponses":{"type":"array","items":{"$ref":"#/components/schemas/TicketFormResponseModel"}}}},"TicketPanelFormModel":{"type":"object","properties":{"type":{"type":"string","enum":["Predefined","TextInput","StringSelect","TextDisplay"]},"data":{"type":"string"}}},"TicketPanelModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"displayName":{"type":"string"},"emoji":{"type":"string"},"discordServer":{"$ref":"#/components/schemas/DiscordServerModel"},"closeable":{"type":"boolean"},"closeConfirmation":{"type":"boolean"},"claimable":{"type":"boolean"},"openChannelName":{"type":"string"},"claimedChannelName":{"type":"string"},"closedChannelName":{"type":"string"},"transcriptChannel":{"$ref":"#/components/schemas/DiscordChannelModel"},"ticketMessage":{"type":"string"},"requiresLinking":{"type":"boolean"},"closeTranscriptTarget":{"type":"string","enum":["None","User","TranscriptChannel","Both"]},"deleteTranscriptTarget":{"type":"string","enum":["None","User","TranscriptChannel","Both"]},"userTranscriptDm":{"type":"string"},"formQuestions":{"type":"array","items":{"$ref":"#/components/schemas/TicketPanelFormModel"}},"relatedCarryTier":{"$ref":"#/components/schemas/CarryTierModel"},"relatedCarryDifficulty":{"$ref":"#/components/schemas/CarryDifficultyModel"},"supportRoles":{"type":"array","items":{"$ref":"#/components/schemas/DiscordRoleModel"}},"additionalRoles":{"type":"array","items":{"$ref":"#/components/schemas/DiscordRoleModel"}},"openCategories":{"type":"array","items":{"type":"integer","format":"int64"}},"closedCategories":{"type":"array","items":{"type":"integer","format":"int64"}},"permissions":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Permissions"}}}}},"TicketPanelUpdateModel":{"type":"object","properties":{"name":{"type":"string"},"closeable":{"type":"boolean"},"closeConfirmation":{"type":"boolean"},"claimable":{"type":"boolean"},"requiresLinking":{"type":"boolean"},"closeTranscriptTarget":{"type":"string","enum":["None","User","TranscriptChannel","Both"]},"deleteTranscriptTarget":{"type":"string","enum":["None","User","TranscriptChannel","Both"]},"formQuestions":{"type":"array","items":{"$ref":"#/components/schemas/TicketPanelFormModel"}},"supportRoles":{"type":"array","items":{"type":"integer","format":"int64"}},"additionalRoles":{"type":"array","items":{"type":"integer","format":"int64"}},"openCategories":{"type":"array","items":{"type":"integer","format":"int64"}},"closedCategories":{"type":"array","items":{"type":"integer","format":"int64"}},"permissions":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Permissions"}}},"displayName":{"type":"string"},"resetDisplayName":{"type":"boolean"},"emoji":{"type":"string"},"resetEmoji":{"type":"boolean"},"openChannelName":{"type":"string"},"resetOpenChannelName":{"type":"boolean"},"claimedChannelName":{"type":"string"},"resetClaimedChannelName":{"type":"boolean"},"closedChannelName":{"type":"string"},"resetClosedChannelName":{"type":"boolean"},"transcriptChannel":{"type":"integer","format":"int64"},"resetTranscriptChannel":{"type":"boolean"},"ticketMessage":{"type":"string"},"resetTicketMessage":{"type":"boolean"},"userTranscriptDm":{"type":"string"},"resetUserTranscriptDm":{"type":"boolean"},"relatedCarryTier":{"type":"integer","format":"int64"},"resetRelatedCarryTier":{"type":"boolean"},"relatedCarryDifficulty":{"type":"integer","format":"int64"},"resetRelatedCarryDifficulty":{"type":"boolean"}}},"StaticMessageUpdateModel":{"type":"object","properties":{"channelId":{"type":"integer","format":"int64"},"messageId":{"type":"integer","format":"int64"},"objectIds":{"type":"array","items":{"type":"integer","format":"int64"}},"embedOverride":{"type":"string"},"resetEmbedOverride":{"type":"boolean"}}},"StaticMessageModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"server":{"$ref":"#/components/schemas/DiscordServerModel"},"channelId":{"type":"integer","format":"int64"},"messageId":{"type":"integer","format":"int64"},"staticMessageType":{"type":"string","enum":["ScoreLeaderboard","TotalLeaderboard","ReputationLeaderboard","TicketPanel","PriceMessage"]},"objectIds":{"type":"array","items":{"type":"integer","format":"int64"}},"embedOverride":{"type":"string"}}},"DiscordRoleUpdateModel":{"type":"object","properties":{"roleAction":{"type":"string","enum":["None","ApplyAndRemoveWhenVerified","ApplyAndRemoveWhenUnverified","ApplyWhenVerified","ApplyWhenUnverified","RemoveWhenVerified","RemoveWhenUnverified","ApplyAlways"]},"nameSchema":{"type":"string"},"resetNameSchema":{"type":"boolean"}}},"RoleRequirementUpdateModel":{"type":"object","properties":{"comparison":{"type":"string","enum":["Equal","GreaterOrEqual","Greater","LessOrEqual","Less"]},"count":{"type":"integer","format":"int32"},"extraData":{"type":"string"},"resetExtraData":{"type":"boolean"}}},"RoleRequirementModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"discordRole":{"$ref":"#/components/schemas/DiscordRoleModel"},"requirementType":{"type":"string","enum":["SkyblockLevel","CatacombsLevel","FarmingLevel","MiningLevel","CombatLevel","FishingLevel","SkillAverage","HighestSkill","CurrentScore","AlltimeScore","TotalCarries","TotalCarriesInTimeFrame","MoneySpent","MoneySpentInTimeFrame","HypixelRank","GuildMembership","GuildRank","MagicalPower","ClassAverage","HighestCritDamage","BingoRank","TotalBingoPoints","Reputation","ScoreLeaderboardRank","ReputationLeaderboardRank"]},"comparison":{"type":"string","enum":["Equal","GreaterOrEqual","Greater","LessOrEqual","Less"]},"count":{"type":"integer","format":"int32"},"extraData":{"type":"string"}}},"ReputationUpdateModel":{"type":"object","properties":{"reason":{"type":"string"},"amount":{"type":"integer","format":"int32"},"active":{"type":"boolean"}}},"CntRequestModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"messageId":{"type":"integer","format":"int64"},"requestType":{"type":"string","enum":["UNDER_THREE","THREE_TO_FIVE","FIVE_TO_TEN","TEN_TO_FIVETEEN","FIVETEEN_TO_TWENTY","TWENTY_TO_TWENTIFIVE","TWENTIFIVE_TO_FIFTY","FIFTY_TO_HUNDRED","HUNDRED_TO_TWOHUNDRED","TWOHUNDRED_TO_FOURHUNDRED","OVER_FOURHUNDRED"]},"discordServer":{"$ref":"#/components/schemas/DiscordServerModel"},"user":{"$ref":"#/components/schemas/DiscordUserModel"},"claimer":{"$ref":"#/components/schemas/DiscordUserModel"},"time":{"type":"string","format":"date-time"},"coinValue":{"type":"string"},"description":{"type":"string"},"requirement":{"type":"string"},"completed":{"type":"boolean"}}},"ReputationModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"user":{"$ref":"#/components/schemas/DiscordUserModel"},"reputor":{"$ref":"#/components/schemas/DiscordUserModel"},"cntRequest":{"$ref":"#/components/schemas/CntRequestModel"},"amount":{"type":"integer","format":"int32"},"reason":{"type":"string"},"active":{"type":"boolean"},"time":{"type":"string","format":"date-time"}}},"CntRequestUpdateModel":{"type":"object","properties":{"requestType":{"type":"string","enum":["UNDER_THREE","THREE_TO_FIVE","FIVE_TO_TEN","TEN_TO_FIVETEEN","FIVETEEN_TO_TWENTY","TWENTY_TO_TWENTIFIVE","TWENTIFIVE_TO_FIFTY","FIFTY_TO_HUNDRED","HUNDRED_TO_TWOHUNDRED","TWOHUNDRED_TO_FOURHUNDRED","OVER_FOURHUNDRED"]},"coinValue":{"type":"string"},"description":{"type":"string"},"requirement":{"type":"string"},"completed":{"type":"boolean"},"claimer":{"$ref":"#/components/schemas/DiscordUserModel"},"resetClaimer":{"type":"boolean"}}},"DiscordChannelUpdateModel":{"type":"object","properties":{"name":{"type":"string"},"deleted":{"type":"boolean"}}},"CarryTypeUpdateModel":{"type":"object","properties":{"displayName":{"type":"string"},"logChannel":{"type":"integer","format":"int64"},"eventActive":{"type":"boolean"},"resetLogChannel":{"type":"boolean"},"resetEventActive":{"type":"boolean"}}},"ScoreUpdateModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"amount":{"type":"integer","format":"int64"}}},"ScoreModel":{"type":"object","properties":{"carrier":{"$ref":"#/components/schemas/DiscordUserModel"},"carryType":{"$ref":"#/components/schemas/CarryTypeModel"},"scoreType":{"type":"string","enum":["Default","Alltime","Event"]},"scoreAmount":{"type":"integer","format":"int64"}}},"CarryTierUpdateModel":{"type":"object","properties":{"displayName":{"type":"string"},"category":{"type":"integer","format":"int64"},"descriptiveName":{"type":"string"},"thumbnailUrl":{"type":"string"},"priceTitle":{"type":"string"},"priceDescription":{"type":"string"},"resetCategory":{"type":"boolean"},"resetDescriptiveName":{"type":"boolean"},"resetThumbnailUrl":{"type":"boolean"},"resetPriceTitle":{"type":"boolean"},"resetPriceDescription":{"type":"boolean"}}},"CarryDifficultyUpdateModel":{"type":"object","properties":{"displayName":{"type":"string"},"price":{"type":"integer","format":"int32"},"score":{"type":"integer","format":"int32"},"thumbnailUrl":{"type":"string"},"bulkPrice":{"type":"integer","format":"int32"},"bulkAmount":{"type":"integer","format":"int32"},"priceName":{"type":"string"},"resetThumbnailUrl":{"type":"boolean"},"resetBulkPrice":{"type":"boolean"},"resetBulkAmount":{"type":"boolean"},"resetPriceName":{"type":"boolean"}}},"CarryQueueUpdateModel":{"type":"object","properties":{"queueStep":{"type":"string","enum":["Confirmation","Transcript","Approving"]},"carrier":{"$ref":"#/components/schemas/DiscordUserModel"},"player":{"$ref":"#/components/schemas/DiscordUserModel"},"amount":{"type":"integer","format":"int32"},"carryDifficulty":{"$ref":"#/components/schemas/CarryDifficultyModel"},"approver":{"type":"integer","format":"int64"},"relationId":{"type":"integer","format":"int64"},"attachmentLink":{"type":"string"},"time":{"type":"string","format":"date-time"},"resetRelationId":{"type":"boolean"},"resetAttachmentLink":{"type":"boolean"},"resetTime":{"type":"boolean"}}},"CarryQueueModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"queueStep":{"type":"string","enum":["Confirmation","Transcript","Approving"]},"carrier":{"$ref":"#/components/schemas/DiscordUserModel"},"player":{"$ref":"#/components/schemas/DiscordUserModel"},"amount":{"type":"integer","format":"int32"},"carryDifficulty":{"$ref":"#/components/schemas/CarryDifficultyModel"},"relationId":{"type":"integer","format":"int64"},"attachmentLink":{"type":"string"},"time":{"type":"string","format":"date-time"},"carryTier":{"$ref":"#/components/schemas/CarryTierModel"},"carryType":{"$ref":"#/components/schemas/CarryTypeModel"}}},"DiscordUserUpdateModel":{"type":"object","properties":{"minecraftId":{"type":"string","format":"uuid"},"primarySkyblockProfile":{"type":"string","format":"uuid"},"removeMinecraftId":{"type":"boolean"},"removePrimarySkyblockProfile":{"type":"boolean"}}},"WarningCreationModel":{"type":"object","properties":{"user":{"type":"integer","format":"int64"},"striker":{"type":"integer","format":"int64"},"warningType":{"type":"string","enum":["Strike","Minor","Major","Serious","Warning"]},"reason":{"type":"string"},"active":{"type":"boolean"}}},"AddedWarningModel":{"type":"object","properties":{"warningModel":{"$ref":"#/components/schemas/WarningModel"},"warningActionModel":{"type":"array","items":{"$ref":"#/components/schemas/WarningActionModel"}}}},"WarningActionModel":{"type":"object","properties":{"warningAction":{"type":"string","enum":["Timeout","Ban","RemoveRole","RemoveRoleGroup","AddRole"]},"data":{"type":"string"}}},"TicketPanelCreationModel":{"type":"object","properties":{"name":{"type":"string"},"displayName":{"type":"string"},"emoji":{"type":"string"},"closeable":{"type":"boolean"},"closeConfirmation":{"type":"boolean"},"claimable":{"type":"boolean"},"openChannelName":{"type":"string"},"claimedChannelName":{"type":"string"},"closedChannelName":{"type":"string"},"transcriptChannel":{"type":"integer","format":"int64"},"ticketMessage":{"type":"string"},"requiresLinking":{"type":"boolean"},"closeTranscriptTarget":{"type":"string","enum":["None","User","TranscriptChannel","Both"]},"deleteTranscriptTarget":{"type":"string","enum":["None","User","TranscriptChannel","Both"]},"userTranscriptDm":{"type":"string"},"formQuestions":{"type":"array","items":{"$ref":"#/components/schemas/TicketPanelFormModel"}},"relatedCarryTier":{"type":"integer","format":"int64"},"relatedCarryDifficulty":{"type":"integer","format":"int64"},"supportRoles":{"type":"array","items":{"type":"integer","format":"int64"}},"additionalRoles":{"type":"array","items":{"type":"integer","format":"int64"}},"openCategories":{"type":"array","items":{"type":"integer","format":"int64"}},"closedCategories":{"type":"array","items":{"type":"integer","format":"int64"}},"permissions":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Permissions"}}}}},"TicketCreationModel":{"type":"object","properties":{"state":{"type":"string","enum":["Creating","Open","Closed","Deleted"]},"channel":{"type":"integer","format":"int64"},"user":{"type":"integer","format":"int64"},"claimer":{"type":"integer","format":"int64"},"formResponses":{"type":"array","items":{"$ref":"#/components/schemas/TicketFormResponseModel"}}}},"StaticMessageCreationModel":{"type":"object","properties":{"channelId":{"type":"integer","format":"int64"},"messageId":{"type":"integer","format":"int64"},"staticMessageType":{"type":"string","enum":["ScoreLeaderboard","TotalLeaderboard","ReputationLeaderboard","TicketPanel","PriceMessage"]},"objectIds":{"type":"array","items":{"type":"integer","format":"int64"}},"embedOverride":{"type":"string"}}},"DiscordRoleCreationModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nameSchema":{"type":"string"},"roleAction":{"type":"string","enum":["None","ApplyAndRemoveWhenVerified","ApplyAndRemoveWhenUnverified","ApplyWhenVerified","ApplyWhenUnverified","RemoveWhenVerified","RemoveWhenUnverified","ApplyAlways"]}}},"RoleRequirementCreationModel":{"type":"object","properties":{"discordRole":{"type":"integer","format":"int64"},"requirementType":{"type":"string","enum":["SkyblockLevel","CatacombsLevel","FarmingLevel","MiningLevel","CombatLevel","FishingLevel","SkillAverage","HighestSkill","CurrentScore","AlltimeScore","TotalCarries","TotalCarriesInTimeFrame","MoneySpent","MoneySpentInTimeFrame","HypixelRank","GuildMembership","GuildRank","MagicalPower","ClassAverage","HighestCritDamage","BingoRank","TotalBingoPoints","Reputation","ScoreLeaderboardRank","ReputationLeaderboardRank"]},"comparison":{"type":"string","enum":["Equal","GreaterOrEqual","Greater","LessOrEqual","Less"]},"count":{"type":"integer","format":"int32"},"extraData":{"type":"string"}}},"DiscordRoleGroupCreationModel":{"type":"object","properties":{"discordRole":{"$ref":"#/components/schemas/DiscordRoleModel"},"roleGroup":{"$ref":"#/components/schemas/DiscordRoleModel"}}},"DiscordRoleGroupModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"discordRole":{"$ref":"#/components/schemas/DiscordRoleModel"},"roleGroup":{"$ref":"#/components/schemas/DiscordRoleModel"}}},"ReputationCreationModel":{"type":"object","properties":{"user":{"type":"integer","format":"int64"},"reputor":{"type":"integer","format":"int64"},"cntRequest":{"type":"integer","format":"int64"},"amount":{"type":"integer","format":"int32"},"reason":{"type":"string"}}},"CntRequestCreationModel":{"type":"object","properties":{"messageId":{"type":"integer","format":"int64"},"requestType":{"type":"string","enum":["UNDER_THREE","THREE_TO_FIVE","FIVE_TO_TEN","TEN_TO_FIVETEEN","FIVETEEN_TO_TWENTY","TWENTY_TO_TWENTIFIVE","TWENTIFIVE_TO_FIFTY","FIFTY_TO_HUNDRED","HUNDRED_TO_TWOHUNDRED","TWOHUNDRED_TO_FOURHUNDRED","OVER_FOURHUNDRED"]},"user":{"type":"integer","format":"int64"},"claimer":{"type":"integer","format":"int64"},"time":{"type":"string","format":"date-time"},"coinValue":{"type":"string"},"description":{"type":"string"},"requirement":{"type":"string"}}},"DiscordChannelCreationModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"CarryTypeCreationModel":{"type":"object","properties":{"identifier":{"type":"string"},"displayName":{"type":"string"},"logChannel":{"type":"integer","format":"int64"},"eventActive":{"type":"boolean"}}},"CarryTierCreationModel":{"type":"object","properties":{"identifier":{"type":"string"},"displayName":{"type":"string"},"category":{"type":"integer","format":"int64"},"descriptiveName":{"type":"string"},"thumbnailUrl":{"type":"string"},"priceTitle":{"type":"string"},"priceDescription":{"type":"string"}}},"CarryDifficultyCreationModel":{"type":"object","properties":{"identifier":{"type":"string"},"displayName":{"type":"string"},"thumbnailUrl":{"type":"string"},"bulkPrice":{"type":"integer","format":"int32"},"bulkAmount":{"type":"integer","format":"int32"},"priceName":{"type":"string"},"price":{"type":"integer","format":"int32"},"score":{"type":"integer","format":"int32"}}},"CarryModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"amount":{"type":"integer","format":"int64"},"carryDifficulty":{"$ref":"#/components/schemas/CarryDifficultyModel"},"player":{"$ref":"#/components/schemas/DiscordUserModel"},"carrier":{"$ref":"#/components/schemas/DiscordUserModel"},"approver":{"type":"integer","format":"int64"},"attachmentLink":{"type":"string"},"time":{"type":"string","format":"date-time"},"carryTier":{"$ref":"#/components/schemas/CarryTierModel"},"carryType":{"$ref":"#/components/schemas/CarryTypeModel"},"scoreMultiplier":{"type":"integer","format":"int32"}}},"LoggedCarryModel":{"type":"object","properties":{"carryModel":{"$ref":"#/components/schemas/CarryModel"},"scoreModels":{"type":"array","items":{"$ref":"#/components/schemas/ScoreModel"}}}},"CarryQueueCreationModel":{"type":"object","properties":{"queueStep":{"type":"string","enum":["Confirmation","Transcript","Approving"]},"carrier":{"type":"integer","format":"int64"},"player":{"type":"integer","format":"int64"},"amount":{"type":"integer","format":"int32"},"relationId":{"type":"integer","format":"int64"},"attachmentLink":{"type":"string"},"time":{"type":"string","format":"date-time"}}},"DiscordUserCreationModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"minecraftId":{"type":"string","format":"uuid"},"primarySkyblockProfile":{"type":"string","format":"uuid"}}},"ScoreLeaderboardModel":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"scores":{"type":"array","items":{"$ref":"#/components/schemas/ScoreModel"}},"playerPosition":{"type":"integer","format":"int32"},"playerScore":{"$ref":"#/components/schemas/ScoreModel"}}},"ReputationLeaderboardModel":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"reputation":{"type":"array","items":{"$ref":"#/components/schemas/ReputationSumModel"}},"playerPosition":{"type":"integer","format":"int32"},"playerReputation":{"$ref":"#/components/schemas/ReputationSumModel"}}},"ReputationSumModel":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/DiscordUserModel"},"amount":{"type":"integer","format":"int64"}}},"CntRequestPageModel":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"requests":{"type":"array","items":{"$ref":"#/components/schemas/CntRequestModel"}}}},"PurgeTypeModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"identifier":{"type":"string"},"displayName":{"type":"string"},"carryType":{"$ref":"#/components/schemas/CarryTypeModel"},"purgeTypeRoleModels":{"type":"array","items":{"$ref":"#/components/schemas/PurgeTypeRoleModel"}}}},"PurgeTypeRoleModel":{"type":"object","properties":{"purgeTypeModel":{"$ref":"#/components/schemas/SimplePurgeTypeModel"},"discordRoleModel":{"$ref":"#/components/schemas/DiscordRoleModel"}}},"SimplePurgeTypeModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"identifier":{"type":"string"},"displayName":{"type":"string"},"carryType":{"$ref":"#/components/schemas/CarryTypeModel"}}},"ScoreResetModel":{"type":"object","properties":{"defaultCount":{"type":"integer","format":"int64"},"eventCount":{"type":"integer","format":"int64"}}}}}}